html{font-size: 20px;
     text-align: center;
  }
body {
    font-family: "Arial", "Meiryo", sans-serif;
}

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-size: 2em;
    letter-spacing: 1.2em;
    .blue {
      color: skyblue;
    }
    .pink {
      color: rgb(255, 192, 203);
    }    
    border-bottom: 3px solid rgb(115, 115, 114);
    text-shadow: 1px 1px 2px gray;
  }
  
  h2 {
    color: rgb(255, 192, 203);
    color: skyblue; 
   }
   .pink {
    color: rgb(255, 192, 203);
  }
.bold{
  font-weight: bold;
}
 P.bold{
  font-weight: bold;